<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Evaluate News NLP Project</title>
    </head>
    <body>
        <main>
            <section id = "app">
				<header>
					<h1>Evaluate News, Articles, and More Using NLP!</h1>
				</header>
				<h3>What would you like to evaluate?</h3>
                <form class="" onsubmit="return Client.checkSubmit(event)">
                    <label for="textForAnalysis">Enter statement to analyze:</label>
					<input 
						id="textForAnalysis"
						type="text"
						name="input"
						value=""
						placeholder="Johnny is very good at football!"
					/>
					<br/>
					<p style = "font-size: 20px">OR:</p>
					<br/>
					<label for="URLForAnalysis">Enter URL to analyze:</label>
					<input 
						id="URLForAnalysis"
						type="text"
						name="input"
						value=""
						placeholder="https://www.giovannafletcher.com/blog/posts/its-getting-hot-hot-hot"
					/>
                    <input 
						type="submit"
						value="Submit"
						onclick="return Client.checkSubmit(event)" 
						onsubmit="return Client.checkSubmit(event)"
					/>
                </form>
            </section>
			
            <section>
                <h3><strong>Analysis Results:</strong></h3>
                <br/>
				<br/>
				<div id="results">
				<p id = 'p1'></p>
				<p id = 'p2'></p>
				<p id = 'p3'></p>
				<p id = 'p4'></p>
				</div>
            </section>
        </main>

        <footer>
            <p>This is a footer</p>
        </footer>
		<script>
		// Check that service workers are supported
		if ('serviceWorker' in navigator) {
			// Use the window load event to keep the page load performant
			window.addEventListener('load', () => {
				navigator.serviceWorker.register('/service-worker.js');
			});
		}
		</script>
    </body>
</html>
