<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Evaluate News NLP Project</title>
    </head>
    <body>
        <main>
            <section id = "app">
				<header>
					<h1>Evaluate News Using NLP!</h1>
				</header>
				<h3>What would you like to evaluate?</h3>
                <form class="" onsubmit="return Client.submitText(event)">
                    <label for="textForAnalysis">Enter a sentence or two:</label>
					<input 
						id="textForAnalysis"
						type="text"
						name="input"
						value="" 
						
						placeholder="Johnny is very good at football!"
					/>
                    <input 
						type="submit"
						value="Submit"
						onclick="return Client.handleSubmit(event)" 
						onsubmit="return Client.handleSubmit(event)"
					/>
                </form>
            <section>

            <section>
                <strong>Form Results:</strong>
                <div id="results"></div>
            </section>
        </main>

        <footer>
            <p>This is a footer</p>
        </footer>

    </body>
</html>
